* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 550px;
  margin: 0 auto;
}

.top {
  background-color: #21222A;
  padding-inline: 1em;
  margin-top: 25vh;
}

.bottom {
  background-color: #282D35;
  color: white;
}

.bottom h1 {
  font-size: 39px;
  padding: 1em 0 .5em .5em;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.left-nav {
  display: flex;
  font-size: 16px;
  align-items: center;
  color: #61DAFB;
}

.left-nav img {
  width: 29px;
  height: 29px;
}

ul {
  list-style: none;
  margin: 0;
  padding-bottom: 4em;
}

ul li {
  padding: .5em 0;
}

ul li::before {
content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
color: #61DAFB; /* Change the color */
font-weight: bold; /* If you want it to be bold */
display: inline-block; /* Needed to add space between the bullet and the text */
width: 1.5em; /* Also needed for space (tweak if needed) */
margin-left: -1em; /* Also needed for space (tweak if needed) */
}