@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');



body {
  display: grid;
  align-items: center;
  place-items: center;
  margin: 0;
  background-color: #E5E5E5;
  font-family: 'Inter', sans-serif;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cardholder {
  padding: 2em;
}

header {
  background-color: #F55A5A;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 1em;
}

header p {
  color: white;
  margin: 0;
  padding-left: 10px;
}

.card--outer--container {
  width: 470px;
  display: flex;
  gap: 1.5em;
  color: #2B283A;
  align-items: center;
}

.card--outer--container:not(:last-child) {
  margin-bottom: 2em;
}

.dest--img {
  width: 125px;
  height: 168px;
  object-fit: cover;
  border-radius: 5px;
}

.location--info--div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.location--info--div p {
  letter-spacing: 1.5px;
  padding-left: .5em;
  padding-right: 1em;
  margin: 0;
}

.location--info--div a {
  color: #918E9B;
}

.dates {
  font-weight: bold;
  padding-bottom: 5px;
}

.dest--description,
.dates{
  margin: 0;
}
.card--content--container{
  font-size: 11px;
  text-align: left;
}

.card--content--container h2{
  font-size: 25px;
  margin-top: 5px;
}